aiogram==3.13.1
sqlalchemy==2.0.36
asyncpg==0.30.0
alembic==1.14.0
redis==5.2.1
openai==1.57.0
python-dotenv==1.0.1
pydantic==2.9.2
pydantic-settings==2.6.1
aiohttp==3.10.11
apscheduler==3.10.4
pytz==2024.2
yookassa==3.3.0
vkbottle==4.3.10
